
#logo-text {
    background-color: darkred;
    padding: 10px 20px;
    display: flex;
    align-items: center;
}
#logo-text img.logo {
    height: 80px;
    width: auto;
    margin-right: 20px;
}
#logo-text p{
    font-size:35px;
    color:PapayaWhip;
    margin-right:20px;
}
ul.container{
    list-style:none;
    display:flex;
    margin-left:auto;
    flex-wrap:wrap;
    gap:30px;
    padding:0;
}
.links{
    margin-right:30px;
}
.links a {
    font-size:18px;
    color:azure;
    text-decoration:none;
}
.links a:hover{
    color:#F6AA1C;
}
h1{
    text-align:center;
    font-size:30px;
    margin:20px 0;
    color:Papayawhip;
}
h2{
    text-align:center;
    font-size:20px;
    margin:175px 0 30px 0;
    color:Papayawhip;
}
#our-cats{
    display:flex;
    flex-wrap:wrap;
    padding:20px;
    gap:20px;
    justify-content: center;
}
.cats{
    max-width:300px;
    text-align:center;
}
.cats img{
    width:100%;
    height:auto;
    object-fit:cover;
    border-radius:10px;
    aspect-ratio: 3/2;
}
.cats figcaption{
    margin-top:10px;
    font-size:25px;
    color:Papayawhip;
}
#our-food{
    display:flex;
    flex-wrap:wrap;
    padding:20px;
    margin-top:30px;
    justify-content: center;
}
.food{
    width:25%;
    max-width:350px;
    text-align:center;
}

.food img {
     width: 100%;
     height: auto;
     aspect-ratio: 3/2;
     object-fit: cover;
     min-height: 200px;
}
    
figcaption{
    color:Papayawhip;
    font-size:30px;
    margin-top:10px;
}
html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-image:url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3B4MTM2OTgxMy1pbWFnZS1rd3Z4eHA5MS5qcGc.jpg");
    background-size:cover;
    background-position:center;
}
.info{
    background:Papayawhip;
    text-align:center;
    padding:10px 0;
    font-size:20px;
    color:darkred;
    bottom:0;
    margin-top:auto;
}

p{
    font-size:20px;
    color:Papayawhip;
    text-align:center;
}
#btn{
    display:block;
    margin:20px auto;
    padding:10px 20px;
    font-size:20px;
    cursor:pointer;
    background-color:Darkred;
    color:Papayawhip;
    border:none;
    border-radius:5px;
}
#btn:hover{
    background-color:#F6AA1c;
    color:Darkred;
}